
<link rel="stylesheet" href="/internal/Clientes/Ver_solicitudes/css/verSolicitudes.css">
<div class="table">
    <div class="table-responsive-xl">
        <table class="table">
            <thead class="table">
                <tr>
                    <th scope="col">IDe</th>
                    <th scope="col">IDa</th>
                    <th scope="col">Empresa</th>
                    <th scope="col">Representante</th>
                    <th scope="col">Correo</th>
                    <th class="delete"></th> 
                </tr>
            </thead>

            {{#each solicitantes}}
                    <tr  id="modal-information" data-target=".bd-example-modal-lg"> 
                        <th scope="row">{{_id}}</th>
                        <td>{{id_autoIncrement}}</td>
                        <td>{{empresaName}}</td>
                        <td>{{representanteName}} </td>
                        <td>{{contactoCorreo}}</td>
                        <td>
                            <button type="button" class="btn btn-danger" data-dismiss="modal"  data-placement="left" title="Eliminar"><i class="fas fa-trash"></i></button>
                            <button type="button" class="btn btn-warning" data-dismiss="modal"  data-placement="left" title="Detalles"
                            id="id_Modal" onclick="disabledTrue()" data-toggle="modal" data-target=".bd-example-modal-lg" 
                                data-id="{{_id}}"
                                data-empresaname="{{empresaName}}" 
                                data-empresatradename="{{empresaTradeName}}"
                                data-representantename="{{representanteName}}" 
                                data-representanteappaterno="{{representanteApPaterno}}" 
                                data-representanteapmaterno="{{representanteApMaterno}}" 
                                data-contactonumberfijo="{{contactoNumberFijo}}"
                                data-contactocelular="{{contactoCelular}}"
                                data-contactocorreo="{{contactoCorreo}}"
                                data-fechasolicitud="{{FechaSolicitud}}"
                                data-autoincrement="{{id_autoIncrement}}">
                                <i class="fas fa-share-square"></i></button>
                        </td>
                    </tr>
                {{/each}}

                <script>
                    /*VARIABLES GLOBALES*/
                    var _empresaname;
                    var _empresatradename;
                    var _representantename;
                    var _representanteappaterno;
                    var _representanteapmaterno;
                    var _contactonumberfijo;
                    var _contactocelular;
                    var _contactocorreo;
                    var _fechasolicitud;
                    var _IDe;
                    var _IDa;
                    var _user;
                    var _password;
                    var _confirmpassword;
                    var _cuestion;
                    var _cuestionrequest;

                    //MEX
                    var _mexFolioF;
                    var _mexFolioCP;
                    var _mexEmpresa;
                    var _mexColonia;
                    var _mexCalle;
                    var _mexNoExterior;
                    var _mexNoInterior;
                    var _mexEntreCalles;
                    var _mexDireccionFiscal;
                    var _mexRazonSocial;
                    var _mexEstadoMexicano;
                    var _mexCiudadMexicana;
                    var _mexRFC;
                    var _mexTelefono;
                    //EUA
                    var _euaFolioF;
                    var _euaEmpresa;
                    var _euaColonia;
                    var _euaCalle;
                    var _euaNoExterior;
                    var _euaNoInterior;
                    var _euaEntreCalles;
                    var _euaCP;
                    var _euaTaxID;
                    var _euatelefono;

                    var _moduleDemo_1;
                    var _moduleDemo_2;
                    var _moduleDemo_2;
                    var _moduleDemo_4;
                    var _moduleDemo_5;
                    var _moduleOthers_1;
                    var _moduleOthers_2;
                    var _moduleOthers_3;
                    var _moduleOthers_4;
                    var _moduleOthers_5;
                    var _moduleOthers_6;
                    var _moduleOthers_7;
                    var _moduleOthers_8;
                    var _moduleOthers_9;
                    var _moduleOthers_10;
                    var _moduleOthers_11;
                    var _moduleOthers_12;
                    var _moduleOthers_13;
                    var _moduleOthers_14;
                    var _moduleOthers_15;
                    var _moduleOthers_16;

                    /*console.log(
                        _empresaname + ' ' +
                        _empresatradename + ' ' +
                        _representantename + ' ' +
                        _representanteappaterno + ' ' +
                        _representanteapmaterno + ' ' +
                        _contactonumberfijo + ' ' +
                        _contactocelular + ' ' +
                        _contactocorreo + ' ' +
                        _fechasolicitud + ' ' +
                        _IDe + ' ' +
                        _IDa + ' ' +
                        _user + ' ' +
                        _password + ' ' +
                        _confirmpassword + ' ' +
                        _cuestion  + ' ' +
                        _cuestionrequest)*/

                    $(document).on("click", "#id_Modal", function () {
                        _empresaname = $(this).data('empresaname');
                        _empresatradename = $(this).data('empresatradename');
                        _representantename = $(this).data('representantename');
                        _representanteappaterno = $(this).data('representanteappaterno');
                        _representanteapmaterno = $(this).data('representanteapmaterno');
                        _contactonumberfijo = $(this).data('contactonumberfijo');
                        _contactocelular = $(this).data('contactocelular');
                        _contactocorreo = $(this).data('contactocorreo');
                        _fechasolicitud = $(this).data('fechasolicitud');
                        _IDe = $(this).data('id');
                        _IDa = $(this).data('autoincrement');
                        
                        $('#empresaName').val(_empresaname);
                        $('#empresaTradeName').val(_empresatradename);
                        $('#representanteName').val(_representantename);
                        $('#representanteApPaterno').val(_representanteappaterno);
                        $('#representanteApMaterno').val(_representanteapmaterno);
                        $('#contactoNumberFijo').val(_contactonumberfijo);
                        $('#contactoCelular').val(_contactocelular);
                        $('#contactoCorreo').val(_contactocorreo);
                        $('#dateRequest').val(_fechasolicitud);
                        $('#IDe').val(_IDe);
                        $('#IDa').val(_IDa);

                        //INPUTS MEX
                        document.getElementById("mex-FolioF").disabled = true;
                        document.getElementById("mex-FolioCP").disabled = true;
                        document.getElementById("mex-Empresa").disabled = true;
                        document.getElementById("mex-Colonia").disabled = true;
                        document.getElementById("mex-Calle").disabled = true;
                        document.getElementById("mex-NoExterior").disabled = true;
                        document.getElementById("mex-NoInterior").disabled = true;
                        document.getElementById("mex-EntreCalles").disabled = true;
                        document.getElementById("mex-DireccionFiscal").disabled = true;
                        document.getElementById("mex-RazonSocial").disabled = true;
                        document.getElementById("mex-EstadoMexicano").disabled = true;
                        document.getElementById("mex-ciudadMexicana").disabled = true;
                        document.getElementById("mex-RFC").disabled = true;
                        document.getElementById("mex-Telefono").disabled = true;
                        //INPUTS EUA
                        document.getElementById("eua-FolioF").disabled = true;
                        document.getElementById("eua-Empresa").disabled = true;
                        document.getElementById("eua-Colonia").disabled = true;
                        document.getElementById("eua-Calle").disabled = true;
                        document.getElementById("eua-NoExterior").disabled = true;
                        document.getElementById("eua-NoInterior").disabled = true;
                        document.getElementById("eua-EntreCalles").disabled = true;
                        document.getElementById("eua-CP").disabled = true;
                        document.getElementById("eua-TaxID").disabled = true;
                        document.getElementById("eua-telefono").disabled = true;
                        //BUTTONS FOOTER
                        document.getElementById("mail").disabled = true;
                        document.getElementById("backOne").disabled = true;
                        document.getElementById("nextTwo").disabled = true;
                    });

                    $(document).on("click", "#restore", function () {
                        $('#empresaName').val(_empresaname);
                        $('#empresaTradeName').val(_empresatradename);
                        $('#representanteName').val(_representantename);
                        $('#representanteApPaterno').val(_representanteappaterno);
                        $('#representanteApMaterno').val(_representanteapmaterno);
                        $('#contactoNumberFijo').val(_contactonumberfijo);
                        $('#contactoCelular').val(_contactocelular);
                        $('#contactoCorreo').val(_contactocorreo);
                    });

                    $(document).on("click", "#validate-all", function () {

                        _empresaname = document.getElementById("empresaName").value;
                        _empresatradename = document.getElementById("empresaTradeName").value;
                        _representantename = document.getElementById("representanteName").value;
                        _representanteappaterno = document.getElementById("representanteApPaterno").value;
                        _representanteapmaterno = document.getElementById("representanteApMaterno").value;
                        _contactonumberfijo = document.getElementById("contactoNumberFijo").value;
                        _contactocelular = document.getElementById("contactoCelular").value;
                        _contactocorreo = document.getElementById("contactoCorreo").value;
                        _fechasolicitud = document.getElementById("dateRequest").value;
                        _IDe = document.getElementById("IDe").value;
                        _IDa = document.getElementById("IDa").value;
                        _user = document.getElementById("user").value;
                        _password = document.getElementById("password").value;
                        _confirmpassword = document.getElementById("confirmPassword").value;
                        _cuestion = document.getElementById("option-question").value;
                        _cuestionrequest = document.getElementById("answerOfquestion").value;

                        if(_empresaname == '' ||
                        _empresatradename == '' ||
                        _representantename == '' ||
                        _representanteappaterno == '' ||
                        _representanteapmaterno == '' ||
                        _contactonumberfijo == '' ||
                        _contactocelular == '' ||
                        _contactocorreo == '' ||
                        _fechasolicitud == '' ||
                        _IDe == '' ||
                        _IDa == '' ||
                        _user == '' ||
                        _password == '' ||
                        _confirmpassword == '' ||
                        _cuestion == '' ||
                        _cuestionrequest == ''){
                            alert("Aun existen campos vacios");
                            document.getElementById("next").disabled = true;
                        }
                        else if(_cuestion == 'Selecciona una pregunta de seguridad'){
                            alert("La pregunta de seguridad esta por defecto");
                            document.getElementById("next").disabled = true;
                        }
                        else{
                            document.getElementById("next").disabled = false;
                        }
                    });

                    function disabledFalse(){
                        document.getElementById("empresaName").disabled = false;
                        document.getElementById("empresaTradeName").disabled = false;
                        document.getElementById("representanteName").disabled = false;
                        document.getElementById("representanteApPaterno").disabled = false;
                        document.getElementById("representanteApMaterno").disabled = false;
                        document.getElementById("contactoNumberFijo").disabled = false;
                        document.getElementById("contactoCelular").disabled = false;
                        document.getElementById("contactoCorreo").disabled = false;
                        document.getElementById("restore").disabled = false;
                    }

                    function disabledTrue(){
                        document.getElementById("empresaName").disabled = true;
                        document.getElementById("empresaTradeName").disabled = true;
                        document.getElementById("representanteName").disabled = true;
                        document.getElementById("representanteApPaterno").disabled = true;
                        document.getElementById("representanteApMaterno").disabled = true;
                        document.getElementById("contactoNumberFijo").disabled = true;
                        document.getElementById("contactoCelular").disabled = true;
                        document.getElementById("contactoCorreo").disabled = true;
                        document.getElementById("restore").disabled = true;
                        document.getElementById("next").disabled = true;
                    }

                    function reloadInformation(){
                        var a = setInterval("valuesGet();", 1);
                    }

                    function reloadInformationModalTwo(){
                        var b = setInterval("valuesModalTwo();",1);
                    }

                    /*function reloadInformationModalThree(){
                        var c = setInterval("valuesModalThree();",1);
                    }*/

                    function valuesGet(){
                        _empresaname = document.getElementById("empresaName").value;
                        _empresatradename = document.getElementById("empresaTradeName").value;
                        _representantename = document.getElementById("representanteName").value;
                        _representanteappaterno = document.getElementById("representanteApPaterno").value;
                        _representanteapmaterno = document.getElementById("representanteApMaterno").value;
                        _contactonumberfijo = document.getElementById("contactoNumberFijo").value;
                        _contactocelular = document.getElementById("contactoCelular").value;
                        _contactocorreo = document.getElementById("contactoCorreo").value;
                        _fechasolicitud = document.getElementById("dateRequest").value;
                        _IDe = document.getElementById("IDe").value;
                        _IDa = document.getElementById("IDa").value;
                        _user = document.getElementById("user").value;
                        _password = document.getElementById("password").value;
                        _confirmpassword = document.getElementById("confirmPassword").value;
                        _cuestion = document.getElementById("option-question").value;
                        _cuestionrequest = document.getElementById("answerOfquestion").value;

                        if(_empresaname == '' ||
                        _empresatradename == '' ||
                        _representantename == '' ||
                        _representanteappaterno == '' ||
                        _representanteapmaterno == '' ||
                        _contactonumberfijo == '' ||
                        _contactocelular == '' ||
                        _contactocorreo == '' ||
                        _fechasolicitud == '' ||
                        _IDe == '' ||
                        _IDa == '' ||
                        _user == '' ||
                        _password == '' ||
                        _confirmpassword == '' ||
                        _cuestion == '' ||
                        _cuestionrequest == ''){
                            document.getElementById("next").disabled = true;
                        }
                        else if(_cuestion == 'Selecciona una pregunta de seguridad'){
                            document.getElementById("next").disabled = true;
                        }
                        else{
                            document.getElementById("next").disabled = false;
                        }
                    }

                    $(document).on("click", "#next", function () {
                        document.getElementById("mex-FolioF").disabled = false;
                        document.getElementById("mex-FolioCP").disabled = false;
                        document.getElementById("mex-Empresa").disabled = false;
                        document.getElementById("mex-Colonia").disabled = false;
                        document.getElementById("mex-Calle").disabled = false;
                        document.getElementById("mex-NoExterior").disabled = false;
                        document.getElementById("mex-NoInterior").disabled = false;
                        document.getElementById("mex-EntreCalles").disabled = false;
                        document.getElementById("mex-DireccionFiscal").disabled = false;
                        document.getElementById("mex-RazonSocial").disabled = false;
                        document.getElementById("mex-EstadoMexicano").disabled = false;
                        document.getElementById("mex-ciudadMexicana").disabled = false;
                        document.getElementById("mex-RFC").disabled = false;
                        document.getElementById("mex-Telefono").disabled = false;

                        document.getElementById("eua-FolioF").disabled = false;
                        document.getElementById("eua-Empresa").disabled = false;
                        document.getElementById("eua-Colonia").disabled = false;
                        document.getElementById("eua-Calle").disabled = false;
                        document.getElementById("eua-NoExterior").disabled = false;
                        document.getElementById("eua-NoInterior").disabled = false;
                        document.getElementById("eua-EntreCalles").disabled = false;
                        document.getElementById("eua-CP").disabled = false;
                        document.getElementById("eua-TaxID").disabled = false;
                        document.getElementById("eua-telefono").disabled = false;

                        document.getElementById("mail").disabled = false;
                        document.getElementById("backOne").disabled = false;
                        document.getElementById("nextTwo").disabled = false;
                    });

                    function block(){
                        //INPUTS MEX
                        document.getElementById("mex-FolioF").disabled = true;
                        document.getElementById("mex-FolioCP").disabled = true;
                        document.getElementById("mex-Empresa").disabled = true;
                        document.getElementById("mex-Colonia").disabled = true;
                        document.getElementById("mex-Calle").disabled = true;
                        document.getElementById("mex-NoExterior").disabled = true;
                        document.getElementById("mex-NoInterior").disabled = true;
                        document.getElementById("mex-EntreCalles").disabled = true;
                        document.getElementById("mex-DireccionFiscal").disabled = true;
                        document.getElementById("mex-RazonSocial").disabled = true;
                        document.getElementById("mex-EstadoMexicano").disabled = true;
                        document.getElementById("mex-ciudadMexicana").disabled = true;
                        document.getElementById("mex-RFC").disabled = true;
                        document.getElementById("mex-Telefono").disabled = true;
                        //INPUTS EUA
                        document.getElementById("eua-FolioF").disabled = true;
                        document.getElementById("eua-Empresa").disabled = true;
                        document.getElementById("eua-Colonia").disabled = true;
                        document.getElementById("eua-Calle").disabled = true;
                        document.getElementById("eua-NoExterior").disabled = true;
                        document.getElementById("eua-NoInterior").disabled = true;
                        document.getElementById("eua-EntreCalles").disabled = true;
                        document.getElementById("eua-CP").disabled = true;
                        document.getElementById("eua-TaxID").disabled = true;
                        document.getElementById("eua-telefono").disabled = true;
                        //BUTTONS FOOTER
                        document.getElementById("mail").disabled = true;
                        document.getElementById("backOne").disabled = true;
                        document.getElementById("nextTwo").disabled = true;
                    }

                    function valuesModalTwo(){

                        _mexFolioF = document.getElementById("mex-FolioCP").value;
                        _mexFolioCP = document.getElementById("mex-FolioCP").value;
                        _mexEmpresa = document.getElementById("mex-Empresa").value;
                        _mexColonia = document.getElementById("mex-Colonia").value;
                        _mexCalle = document.getElementById("mex-Calle").value;
                        _mexNoExterior = document.getElementById("mex-NoExterior").value;
                        _mexNoInterior = document.getElementById("mex-NoInterior").value;
                        _mexEntreCalles = document.getElementById("mex-EntreCalles").value;
                        _mexDireccionFiscal = document.getElementById("mex-DireccionFiscal").value;
                        _mexRazonSocial = document.getElementById("mex-RazonSocial").value;
                        _mexEstadoMexicano = document.getElementById("mex-EstadoMexicano").value;
                        _mexCiudadMexicana = document.getElementById("mex-ciudadMexicana").value;
                        _mexRFC = document.getElementById("mex-RFC").value;
                        _mexTelefono = document.getElementById("mex-Telefono").value;

                        _euaFolioF = document.getElementById("eua-FolioF").value;
                        _euaEmpresa = document.getElementById("eua-Empresa").value;
                        _euaColonia = document.getElementById("eua-Colonia").value;
                        _euaCalle = document.getElementById("eua-Calle").value;
                        _euaNoExterior = document.getElementById("eua-NoExterior").value;
                        _euaNoInterior = document.getElementById("eua-NoInterior").value;
                        _euaEntreCalles = document.getElementById("eua-EntreCalles").value;
                        _euaCP = document.getElementById("eua-CP").value;
                        _euaTaxID = document.getElementById("eua-TaxID").value;
                        _euatelefono = document.getElementById("eua-telefono").value;

                        if(_mexFolioF == "" ||
                        _mexFolioCP == "" ||
                        _mexEmpresa == "" ||
                        _mexColonia == "" ||
                        _mexCalle == "" ||
                        _mexNoExterior == "" ||
                        _mexNoInterior == "" ||
                        _mexEntreCalles == "" ||
                        _mexDireccionFiscal == "" ||
                        _mexRazonSocial == "" ||
                        _mexEstadoMexicano == "" ||
                        _mexCiudadMexicana == "" ||
                        _mexRFC == "" ||
                        _mexTelefono == "" ||
                        _euaFolioF == "" ||
                        _euaEmpresa == "" ||
                        _euaColonia == "" ||
                        _euaCalle == "" ||
                        _euaNoExterior == "" ||
                        _euaNoInterior == "" ||
                        _euaEntreCalles == "" ||
                        _euaCP == "" ||
                        _euaTaxID == "" ||
                        _euatelefono == ""){
                            document.getElementById("mail").disabled = true;
                            document.getElementById("nextTwo").disabled = true;
                            document.getElementById("backOne").disabled = false;
                        }
                        else{
                            document.getElementById("mail").disabled = false;
                            document.getElementById("nextTwo").disabled = false;
                            document.getElementById("backOne").disabled = false;
                        }
                    }

                    function valuesModalTwo(){

                        _mexFolioF = document.getElementById("mex-FolioCP").value;
                        _mexFolioCP = document.getElementById("mex-FolioCP").value;
                        _mexEmpresa = document.getElementById("mex-Empresa").value;
                        _mexColonia = document.getElementById("mex-Colonia").value;
                        _mexCalle = document.getElementById("mex-Calle").value;
                        _mexNoExterior = document.getElementById("mex-NoExterior").value;
                        _mexNoInterior = document.getElementById("mex-NoInterior").value;
                        _mexEntreCalles = document.getElementById("mex-EntreCalles").value;
                        _mexDireccionFiscal = document.getElementById("mex-DireccionFiscal").value;
                        _mexRazonSocial = document.getElementById("mex-RazonSocial").value;
                        _mexEstadoMexicano = document.getElementById("mex-EstadoMexicano").value;
                        _mexCiudadMexicana = document.getElementById("mex-ciudadMexicana").value;
                        _mexRFC = document.getElementById("mex-RFC").value;
                        _mexTelefono = document.getElementById("mex-Telefono").value;

                        _euaFolioF = document.getElementById("eua-FolioF").value;
                        _euaEmpresa = document.getElementById("eua-Empresa").value;
                        _euaColonia = document.getElementById("eua-Colonia").value;
                        _euaCalle = document.getElementById("eua-Calle").value;
                        _euaNoExterior = document.getElementById("eua-NoExterior").value;
                        _euaNoInterior = document.getElementById("eua-NoInterior").value;
                        _euaEntreCalles = document.getElementById("eua-EntreCalles").value;
                        _euaCP = document.getElementById("eua-CP").value;
                        _euaTaxID = document.getElementById("eua-TaxID").value;
                        _euatelefono = document.getElementById("eua-telefono").value;

                        if(_mexFolioF == "" ||
                        _mexFolioCP == "" ||
                        _mexEmpresa == "" ||
                        _mexColonia == "" ||
                        _mexCalle == "" ||
                        _mexNoExterior == "" ||
                        _mexNoInterior == "" ||
                        _mexEntreCalles == "" ||
                        _mexDireccionFiscal == "" ||
                        _mexRazonSocial == "" ||
                        _mexEstadoMexicano == "" ||
                        _mexCiudadMexicana == "" ||
                        _mexRFC == "" ||
                        _mexTelefono == "" ||
                        _euaFolioF == "" ||
                        _euaEmpresa == "" ||
                        _euaColonia == "" ||
                        _euaCalle == "" ||
                        _euaNoExterior == "" ||
                        _euaNoInterior == "" ||
                        _euaEntreCalles == "" ||
                        _euaCP == "" ||
                        _euaTaxID == "" ||
                        _euatelefono == ""){
                            document.getElementById("mail").disabled = true;
                            document.getElementById("nextTwo").disabled = true;
                            document.getElementById("backOne").disabled = false;
                        }
                        else{
                            document.getElementById("mail").disabled = false;
                            document.getElementById("nextTwo").disabled = false;
                            document.getElementById("backOne").disabled = false;
                        }
                    }

                    function valuesModalThree(){

                        _moduleDemo_1 = document.getElementById("module-demo-1").value;
                        _moduleDemo_2 = document.getElementById("module-demo-2").value;
                        _moduleDemo_2 = document.getElementById("module-demo-3").value;
                        _moduleDemo_4 = document.getElementById("module-demo-4").value;
                        _moduleDemo_5 = document.getElementById("module-demo-5").value;

                        _moduleOthers_1 = document.getElementById("module-demo-1").value;
                        _moduleOthers_2 = document.getElementById("module-demo-2").value;
                        _moduleOthers_3 = document.getElementById("module-demo-3").value;
                        _moduleOthers_4 = document.getElementById("module-demo-4").value;
                        _moduleOthers_5 = document.getElementById("module-demo-5").value;
                        _moduleOthers_6 = document.getElementById("module-demo-6").value;
                        _moduleOthers_7 = document.getElementById("module-demo-7").value;
                        _moduleOthers_8 = document.getElementById("module-demo-8").value;
                        _moduleOthers_9 = document.getElementById("module-demo-9").value;
                        _moduleOthers_10 = document.getElementById("module-demo-10").value;
                        _moduleOthers_11 = document.getElementById("module-demo-11").value;
                        _moduleOthers_12 = document.getElementById("module-demo-12").value;
                        _moduleOthers_13 = document.getElementById("module-demo-13").value;
                        _moduleOthers_14 = document.getElementById("module-demo-14").value;
                        _moduleOthers_15 = document.getElementById("module-demo-15").value;
                        _moduleOthers_16 = document.getElementById("module-demo-16").value;

                        console.log(_moduleDemo_1);

                        /*if(_moduleDemo_1 == false ||
                        _moduleDemo_2 == false ||
                        _moduleDemo_3 == false ||
                        _moduleDemo_4 == false ||
                        _moduleDemo_5 == false ||
                        _moduleOthers_1 == false ||
                        _moduleOthers_2 == false ||
                        _moduleOthers_3 == false ||
                        _moduleOthers_4 == false ||
                        _moduleOthers_5 == false ||
                        _moduleOthers_6 == false ||
                        _moduleOthers_7 == false ||
                        _moduleOthers_8 == false ||
                        _moduleOthers_9 == false ||
                        _moduleOthers_10 == false ||
                        _moduleOthers_11 == false ||
                        _moduleOthers_12 == false ||
                        _moduleOthers_13 == false ||
                        _moduleOthers_14 == false ||
                        _moduleOthers_15 == false ||
                        _moduleOthers_16 == false){
                        document.getElementById("mailModalThree").disabled = true;
                        document.getElementById("backThree").disabled = false;
                        document.getElementById("restablecerThree").disabled = false;
                        document.getElementById("finished").disabled = true;
                        }
                        else{
                        document.getElementById("mailModalThree").disabled = false;
                        document.getElementById("backThree").disabled = false;
                        document.getElementById("restablecerThree").disabled = false;
                        document.getElementById("finished").disabled = false;
                        }*/
                    }

                    reloadInformation();
                    reloadInformationModalTwo();
                    reloadInformationModalThree();
                </script>
        </table>
    </div>
</div>
<!-- ////////////////////////////////////////////////////MODAL PASO 1/////////////////////////////////////////////////////////////// -->
<div onkeyup="valuesGet()" onkeypress="valuesGet()" onkeyup="valuesGet()" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-content">
                <!-- /////////////HEADER MODAL/////////// -->
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Paso 1: Confirmación</h5>
                    <div class="menu-header">
                        <button id="TryEdit" onclick="disabledFalse()" type="button" class="btn btn-primary" title="Editar"><i class="far fa-edit"></i></button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" data-toggle="tooltip" data-placement="left" title="Eliminar"><i class="fas fa-trash"></i></button>
                        <button type="button" class="btn-exit" data-dismiss="modal" data-toggle="tooltip" data-placement="left" title="Cerrar"><i class="fas fa-times"></i></button>
                    </div>
                </div>
                <!-- ////////////////////////BODY MODAL////////////////////////// -->
                <div class="modal-body1">
                    <h5 class="tittle-empresa">Empresa</h5>
                    <div class="company-box"><input type="text" class="form-control" id="empresaName"  placeholder="{{solicitante.empresaName}}" disabled></div>
                    <div class="trade-box"><input type="text" class="form-control" id="empresaTradeName" placeholder="{{solicitante.empresaTradeName}}" disabled></div>
                    <h5 class="tittle-representante">Representante</h5>
                    <div class="name-box"><input type="text" class="form-control" id="representanteName" placeholder="{{solicitante.representanteName}}" disabled></div>
                    <div class="Lname-box"><input type="text" class="form-control" id="representanteApPaterno" placeholder="{{solicitante.representanteApPaterno}}" disabled></div>
                    <div class="Lscndname-box"><input type="text" class="form-control" id="representanteApMaterno" placeholder="{{solicitante.representanteApMaterno}}" disabled></div>
                    <h5 class="title-contacto">Contacto</h5>
                    <div class="phone-box"><input type="text" class="form-control" id="contactoNumberFijo" placeholder="{{solicitante.contactoNumberFijo}}" disabled></div>
                    <div class="cellphone-box"><input type="text" class="form-control" id="contactoCelular" placeholder="{{solicitante.contactoCelular}}" disabled></div>
                    <div class="mail-box"><input type="text" class="form-control" id="contactoCorreo" placeholder="{{solicitante.contactoCorreo}}" disabled></div>
                    <div class="date-request"><input type="text" class="form-control" id="dateRequest" placeholder="{{solicitante.FechaSolicitud}}" disabled></div>
                    <h5 class="title-cuenta">Cuenta</h5>
                    <div class="ide-box"><input type="text" class="form-control" id="IDe" placeholder="{{solicitante._id}}" disabled></div>
                    <div class="ida-box"><input type="text" class="form-control" id="IDa" placeholder="{{solicitante.id_autoIncrement}}" disabled></div>
                    <div class="user"><input type="text" class="form-control" id="user" placeholder="Usuario"></div>
                    
                    <div class="password"><input type="text" class="form-control" id="password" placeholder="Contraseña"></div>
                    <div class="confirm-password"><input type="text" class="form-control" id="confirmPassword" placeholder="Confirmar Contraseña"></div>

                    <div class="form-group">
                        <select id="option-question" class="form-control" id="sel1">
                            <option>Selecciona una pregunta de seguridad</option>
                            <option>De que color fue su último vehículo.</option>
                            <option>La ciudad que te gustaría jubilarte.</option>
                            <option>El nombre de la primera ciudad que visitó.</option>
                            <option>Cuál fue el nombre de tu primer mascota.</option>
                            <option>Cuál es tu comida favorita.</option>
                            <option>Marca de la primer laptop que compré.</option>
                        </select>
                    </div>
                    <div class="answer"><input id="answerOfquestion" type="text" class="form-control" placeholder="Respuesta"></div>
                </div>
                <!-- //////////////////////////////FOOTER MODAL////////////////////////////////////////// -->
                <div class="modal-footer">
                    <div class="btn-mail"><button type="button" class="btn btn-danger" data-dismiss="modal" data-toggle="tooltip" data-placement="left" title="Mail"><i class="fas fa-envelope"></i></button></div>
                    <div class="btn-reload"><button id="validate-all" type="button" class="btn btn-secondary" title="Editar"><i class="fas fa-sync-alt"></i></button></div>
                        <button id="restore" onclick="disabledTrue()" type="button" class="btn btn-success">
                            Restablecer
                            <i class="fas fa-window-restore"></i>
                        </button>
                    <button id="next" type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target=".bd-example-modal-lg2">
                        <i class="fas fa-arrow-circle-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ////////////MODAL PASO 2///////////// -->
<div onkeyup="valuesModalTwo()" onkeypress="valuesModalTwo()" onkeyup="valuesModalTwo()" class="modal fade bd-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-content">
                <!-- /////////////HEADER MODAL/////////// -->
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Paso 2: Datos Fiscales</h5>
                    <div class="menu-header">
                        <!-- <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="tooltip" data-placement="left" title="Editar"><i class="far fa-edit"></i></button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" data-toggle="tooltip" data-placement="left" title="Eliminar"><i class="fas fa-trash"></i></button> -->
                        <button type="button" class="btn-exit" data-dismiss="modal" data-toggle="tooltip" data-placement="left" title="Cerrar"><i class="fas fa-times"></i></button>
                    </div>
                </div>
                <!-- ////////////////////////BODY MODAL////////////////////////// -->
                <div class="modal-body2">
                    {{!-- DATOS MEXICANOS --}}
                    <div class="mexican-flag"></div>
                    <label class="datos-mex">Datos:</label>
                    <div class="folio-fac"><input id="mex-FolioF" type="text" class="form-control" placeholder="Folio(F)"></div> 
                    <div class="folio-cp"><input id="mex-FolioCP" type="text" class="form-control" placeholder="Folio(CP)"></div>
                    <div class="nom-empresa"><input id="mex-Empresa" type="text" class="form-control" placeholder="Empresa"></div>
                    <div class="colonia"><input id="mex-Colonia" type="text" class="form-control" placeholder="Colonia"></div>
                    <div class="calle"><input id="mex-Calle" type="text" class="form-control" placeholder="Calle"></div>
                    <div class="no-exterior"><input id="mex-NoExterior" type="text" class="form-control" placeholder="No. Exterior"></div>
                    <div class="no-interior"><input id="mex-NoInterior" type="text" class="form-control" placeholder="No. Interior"></div>
                    <div class="entre-calles"><input id="mex-EntreCalles" type="text" class="form-control" placeholder="Entre calles"></div>
                    <div class="dir-fiscal"><input id="mex-DireccionFiscal" type="text" class="form-control" placeholder="Dirección Fiscal"></div>
                    <div class="rs"><input id="mex-RazonSocial" type="text" class="form-control" placeholder="Razón Social"></div>
                    <div class="estado"><input id="mex-EstadoMexicano" type="text" class="form-control" placeholder="Estado Mexicano"></div>
                    <div class="ciudad"><input id="mex-ciudadMexicana" type="text" class="form-control" placeholder="Ciudad Mexicana"></div>
                    <div class="rfc"><input id="mex-RFC" type="text" class="form-control" placeholder="RFC"></div>
                    <div class="tel"><input id="mex-Telefono" type="text" class="form-control" placeholder="Teléfono"></div>
                    {{!-- DATOS AMERICANOS --}}
                    <div class="usa-flag"></div>
                    <label class="datos-us">Datos:</label>
                    <div class="folio-cpus"><input id="eua-FolioF" type="text" class="form-control" placeholder="Folio(CP)"></div>
                    <div class="nom-empresaus"><input id="eua-Empresa"  type="text" class="form-control" placeholder="Empresa"></div>
                    <div class="coloniaus"><input id="eua-Colonia" type="text" class="form-control" placeholder="Colonia"></div>
                    <div class="calleus"><input id="eua-Calle" type="text" class="form-control" placeholder="Calle"></div>
                    <div class="no-exteriorus"><input id="eua-NoExterior" type="text" class="form-control" placeholder="No. Exterior"></div>
                    <div class="no-interiorus"><input id="eua-NoInterior" type="text" class="form-control" placeholder="No. Interior"></div>
                    <div class="entre-callesus"><input id="eua-EntreCalles" type="text" class="form-control" placeholder="Entre calles"></div>
                    <div class="cp-us"><input id="eua-CP" type="text" class="form-control" placeholder="Codigo Postal"></div>
                    <div class="tax-id"><input id="eua-TaxID" type="text" class="form-control" placeholder="Tax ID"></div>
                    <div class="tel-us"><input id="eua-telefono" type="text" class="form-control" placeholder="Teléfono"></div>
                </div>
                <!-- //////////////////////////////FOOTER MODAL////////////////////////////////////////// -->
                <div class="modal-footer">
                    <button id="mail" type="button" class="btn btn-danger" data-dismiss="modal" data-toggle="tooltip" data-placement="left" title="Mail"><i class="fas fa-envelope"></i></button>
                    <button id="backOne" type="button" class="btn btn-primary" data-dismiss="modal" onclick="input" data-toggle="modal" data-target=".bd-example-modal-lg" onclick="block()"><i class="fas fa-arrow-circle-left"></i></button>
                    <button id="nextTwo" onclick="nextModalThree" type="button" class="btn btn-primary" data-dismiss="modal" onclick="input" data-toggle="modal" data-target=".bd-example-modal-lg3"><i class="fas fa-arrow-circle-right"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ////////////MODAL PASO 3///////////// -->
<div onkeyup="valuesModalThree()" onkeypress="valuesModalThree()" onkeyup="valuesModalThree()" class="modal fade bd-example-modal-lg3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-content">
                <!-- /////////////HEADER MODAL/////////// -->
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Paso 3: Módulos</h5>
                    <div class="menu-header">
                        <button type="button" class="btn-exit" data-dismiss="modal" data-toggle="tooltip" data-placement="left" title="Cerrar"><i class="fas fa-times"></i></button>
                    </div>
                </div>
                <!-- ////////////////////////BODY MODAL////////////////////////// -->
                <div class="modal-body3">
                    <h5 class="title-demo">Demo:</h5>
                    <div class="privilegios">
                        <div class="form-check">
                            <h6 id="module-demo-1" class="form-check-label"><br><input type="checkbox" class="form-check-input" value="">Option 1</h6>
                            <h6 id="module-demo-2" class="form-check-label"><br><input type="checkbox" class="form-check-input" value="">Option 2</h6>
                            <h6 id="module-demo-3" class="form-check-label"><br><input type="checkbox" class="form-check-input" value="">Option 3</h6>
                            <h6 id="module-demo-4" class="form-check-label"><br><input type="checkbox" class="form-check-input" value="">Option 4</h6>
                            <h6 id="module-demo-5" class="form-check-label"><br><input type="checkbox" class="form-check-input" value="">Option 5</h6>
                        </div>
                    </div>

                    <h5 class="title-otros">Otros:</h5>
                    <div class="privilegios2">
                        <h6 id="module-others-1" class="form-check-label"><br><input type="checkbox" class="form-check-input" value="">Option 1</h6>
                        <h6 id="module-others-2" class="form-check-label"><br><input type="checkbox" class="form-check-input" value="">Option 2</h6>
                        <h6 id="module-others-3" class="form-check-label"><br><input type="checkbox" class="form-check-input" value="">Option 3</h6>
                        <h6 id="module-others-4" class="form-check-label"><br><input type="checkbox" class="form-check-input" value="">Option 4</h6>
                        <h6 id="module-others-5" class="form-check-label"><br><input type="checkbox" class="form-check-input" value="">Option 5</h6>
                        <h6 id="module-others-6" class="form-check-label"><br><input type="checkbox" class="form-check-input" value="">Option 6</h6>
                        <h6 id="module-others-7" class="form-check-label"><br><input type="checkbox" class="form-check-input" value="">Option 7</h6>
                        <h6 id="module-others-8" class="form-check-label"><br><input type="checkbox" class="form-check-input" value="">Option 8</h6>
                    </div>

                    <div class="privilegios3">
                        <h6 id="module-others-9" class="form-check-label"><br><input type="checkbox" class="form-check-input" value="">Option 9</h6>
                        <h6 id="module-others-10" class="form-check-label"><br><input type="checkbox" class="form-check-input" value="">Option 10</h6>
                        <h6 id="module-others-11" class="form-check-label"><br><input type="checkbox" class="form-check-input" value="">Option 11</h6>
                        <h6 id="module-others-12" class="form-check-label"><br><input type="checkbox" class="form-check-input" value="">Option 12</h6>
                        <h6 id="module-others-13" class="form-check-label"><br><input type="checkbox" class="form-check-input" value="">Option 13</h6>
                        <h6 id="module-others-14" class="form-check-label"><br><input type="checkbox" class="form-check-input" value="">Option 14</h6>
                        <h6 id="module-others-15" class="form-check-label"><br><input type="checkbox" class="form-check-input" value="">Option 15</h6>
                        <h6 id="module-others-16" class="form-check-label"><br><input type="checkbox" class="form-check-input" value="">Option 16</h6>
                    </div>
                </div>
                <!-- //////////////////////////////FOOTER MODAL////////////////////////////////////////// -->
                <div class="modal-footer">
                    <button id="mailModalThree" type="button" class="btn btn-danger" data-dismiss="modal" data-toggle="tooltip" data-placement="left" title="Mail"><i class="fas fa-envelope"></i></button>
                    <button id="backThree" type="button" class="btn btn-primary" data-dismiss="modal" onclick="input" data-toggle="modal" data-target=".bd-example-modal-lg2"><i class="fas fa-arrow-circle-left"></i></button>
                    <button id="restablecerThree" type="button" class="btn btn-success" data-dismiss="modal">Restablecer<i class="fas fa-window-restore"></i></button>
                    <button id="finished" type="button" class="btn btn-info" data-dismiss="modal">Finalizar<i class="far fa-save fa-md"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>